# fill ITCM 0x10200..0x10300 with NOPs (clean board state)
adapter driver ftdi
ftdi vid_pid 0x0403 0x6010
ftdi channel 0
ftdi layout_init 0x0008 0x000b
adapter speed 500
transport select jtag
jtag newtap bd32 tap -irlen 5 -expected-id 0x1bd32003
set _TARGETNAME bd32.cpu
target create $_TARGETNAME riscv -chain-position bd32.tap
riscv set_ir idcode 0x01
riscv set_ir dtmcs 0x10
riscv set_ir dmi 0x11
reset_config none
telnet port disabled
gdb port disabled
tcl port disabled
proc dmiw {a v} { bd32.cpu riscv dmi_write $a $v }
proc dmir {a} { return [bd32.cpu riscv dmi_read $a] }
proc sba_write {addr val} {
    dmiw 0x38 0x40000
    dmiw 0x39 $addr
    dmiw 0x3c $val
}
init
dmiw 0x11 0x00000000
dmiw 0x11 0x00000001
catch {halt}
for {set a 0x10200} {$a < 0x10300} {set a [expr {$a + 4}]} {
    sba_write $a 0x00000013
}
puts "ITCM cleaned"
shutdown
